<div id="masthead-photos">
    <h2>{% trans "Board of directors" %}</h2>
    <div>
        <img src="{{ STATIC_URL }}img/board/abhinav-gupta.jpg" />
        <span>Abhinav Gupta</span>
    </div>
    <div>
        <img src="{{ STATIC_URL }}img/board/nick-keramarios.jpg" />
        <span>Nick Keramarios</span>
    </div>
    <div>
        <img src="{{ STATIC_URL }}img/board/wendy-liu.jpg" />
        <span>Wendy Liu</span>
    </div>
    <div>
        <img src="{{ STATIC_URL }}img/board/alienor-cumberlege.jpg" />
        <span>Alienor Cumberlege</span>
    </div>
    <div>
        <img src="{{ STATIC_URL }}img/board/adam-banks.jpg" />
        <span>Adam Banks</span>
    </div>
    <div>
        <img src="{{ STATIC_URL }}img/board/jenny-zhu.jpg" />
        <span>Jenny Zhu</span>
    </div>
</div>

<div class="clear"></div>
