{% load i18n %}

<div id="masthead-photos">
    <h2>{% trans "Board of directors" %}</h2>
    <div>
        <img src="{{ STATIC_URL }}img/board/abhinav-gupta.jpg" />
        <span>
            Abhinav Gupta
            <br />
            <strong>{% trans "Publisher" %}</strong>
        </span>
    </div>
    <div>
        <img src="{{ STATIC_URL }}img/board/nick-keramarios.jpg" />
        <span>
            Nick Keramarios
            <br />
            <strong>{% trans "Associate Publisher" %}</strong>
        </span>
    </div>
    <div>
        <img src="{{ STATIC_URL }}img/board/alienor-cumberlege.jpg" />
        <span>
            Alienor Cumberlege
            <br />
            <strong>{% trans "Managing Editor" %}</strong>
        </span>
    </div>
    <div>
        <img src="{{ STATIC_URL }}img/board/adam-banks.jpg" />
        <span>
            Adam Banks
            <br />
            <strong>{% trans "English Editor" %}</strong>
        </span>
    </div>
    <div>
        <img src="{{ STATIC_URL }}img/board/jennifer-yang.jpg" />
        <span>
            Jennifer Yang
            <br />
            <strong>{% trans "French Editor" %}</strong>
        </span>
    </div>
</div>

<div class="clear"></div>
<br />
<br />
