* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

.sans-serif {
    font-family: Montserrat, Arial, sans-serif;
}

.serif {
    font-family: Lora, Georgia, serif;
}

body {
    font-size: 15px;
    .serif;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

