*{padding:0;margin:0;}
a{text-decoration:none;}
img{border:0;}
.sans-serif{font-family:Montserrat,Arial,sans-serif;}
.serif{font-family:Lora, Georgia, serif;}
body{font-size:15px;font-family:Lora, Georgia, serif;background:#1a1a1a;}
#content{background:#fff;}
.wrapper{width:1000px;margin:0 auto;}
#article .content .caption{text-align:center;font-style:italic;padding-top:0;}
#article .content h2{text-transform:uppercase;text-align:center;margin-top:20px;font-size:1.9em;}
#article .content h3{text-align:center;font-weight:normal;color:#aaaaaa;margin-bottom:20px;font-size:1.4em;}
#article .content h4{font-size:1.2em;}
#article .content blockquote{color:#777777;padding:20px;border-left:5px solid #dddddd;}
#article .content ul,#article .content ol{margin-left:1.0em;}
#article .content .footnote{margin-top:70px;font-size:0.7em;}#article .content .footnote ol{margin-top:100px;}#article .content .footnote ol li+li{padding-top:10px;}
.drop-caps>p:first-child:first-letter{float:left;font-size:5.0em;line-height:0.7em;padding-top:0.1em;padding-right:0.1em;padding-left:3px;}
#footer{font-family:Montserrat,Arial,sans-serif;clear:both;background:#1a1a1a;width:100%;font-size:1.2em;}#footer ul{list-style-type:none;float:right;}#footer ul li{float:left;padding:40px 20px;vertical-align:middle;}#footer ul li:last-child{padding-right:50px;}
#footer a{color:#dddddd;}#footer a:hover{color:#fff;}
#header{height:100px;padding:0 30px;background:#1a1a1a;box-shadow:0 1px 50px rgba(0, 0, 0, 0.7);position:relative;z-index:2;}
#logo{float:left;padding:20px 0;}
#menu{font-family:Montserrat,Arial,sans-serif;float:right;list-style-type:none;padding-top:40px;}#menu li{float:left;padding:0 10px;}#menu li a{text-decoration:none;color:#dddddd;text-transform:uppercase;font-weight:bold;}#menu li a:hover{color:#fff;}
#menu li:first-child{padding-left:0;}
#menu li:last-child{padding-right:0;}
.headline{font-family:Montserrat,Arial,sans-serif;text-transform:uppercase;font-weight:bold;}
#masthead{position:relative;height:500px;overflow:hidden;}#masthead a:hover img{opacity:1.0;}
#masthead .photo{position:absolute;width:100%;}
#masthead .photo img{width:100%;opacity:0.85;}
#masthead .title-wrapper{position:absolute;top:0;width:100%;background:rgba(0, 0, 0, 0.4);box-sizing:border-box;height:500px;}
#masthead .title{position:absolute;top:50%;margin-top:-26px;color:#fff;left:50%;width:1000px;margin-left:-500px;text-align:center;}#masthead .title h1{font-family:Montserrat,Arial,sans-serif;text-transform:uppercase;font-size:3.0em;}
#masthead .title .byline{margin-top:20px;border-top:1px solid #fff;padding-top:20px;font-style:italic;font-size:1.2em;}#masthead .title .byline a{color:white;}#masthead .title .byline a:hover{text-decoration:underline;}
#masthead .graphic-source{font-weight:bold;position:absolute;right:10px;bottom:10px;}#masthead .graphic-source a{color:rgba(255, 255, 255, 0.7);}#masthead .graphic-source a:hover{text-decoration:underline;}
#masthead .block-wrapper{position:absolute;bottom:0;left:0;right:0;}
#masthead .block{box-sizing:border-box;padding:30px;background:rgba(0, 0, 0, 0.5);color:#fff;}#masthead .block .headline{font-size:2.2em;}
#masthead .block .byline{font-family:Lora, Georgia, serif;font-style:italic;margin:10px 0;}
#masthead .block .description{font-size:1.3em;}
.row{clear:both;}
.row+.row .span4{padding-top:20px;}
.row .span4{float:left;width:33.333%;position:relative;}.row .span4:hover .overlay{display:block !important;}
.row .span4 a{text-decoration:none;}
.row .span4 .photo{position:relative;}.row .span4 .photo .overlay{display:none;font-family:Montserrat,Arial,sans-serif;background:rgba(0, 0, 0, 0.4);position:absolute;top:0;bottom:5px;left:0;right:0;color:#fff;text-transform:uppercase;}.row .span4 .photo .overlay .text{position:absolute;top:50%;margin-top:-25px;width:100%;text-align:center;}
.row .span4 .photo .overlay .date{font-size:1.5em;font-weight:bold;}
.row .span4 .photo .overlay .category{font-size:1.2em;}
.row .span4 .photo img{width:100%;opacity:0.85;}
.row .span4 .info{padding:0 30px;color:#444444;font-size:1.2em;}.row .span4 .info .headline{margin-top:15px;font-size:1.0em;}
.row .span4 .info .byline{margin-bottom:15px;font-style:italic;font-size:0.9em;}
.row .span4:first-child{margin-left:0;}
.row .span4:last-child{margin-right:0;}
#article{width:1000px;margin:0 auto;}#article .description{font-size:1.8em;text-align:center;font-style:italic;border-bottom:1px double #aaaaaa;padding:100px 0;}
#article a{color:#aa0000;}#article a:hover{text-decoration:underline;}
#article .content{padding:100px 0;font-size:1.6em;line-height:1.5;}#article .content p,#article .content ul{padding:30px 0;}#article .content p:first-child,#article .content ul:first-child{padding-top:0;}
#article .content p:last-child,#article .content ul:last-child{padding-bottom:0;}
#article .content p img,#article .content ul img{width:100%;}
#article .content p+p{padding-top:0;}
.pagination{clear:both;padding-top:20px;text-align:center;font-size:1.2em;}
.pagination-placeholder{clear:both;}
#change-language{border:0;padding:8px;margin-top:-4px;background:#444444;color:#fff;cursor:pointer;}#change-language:hover{background:#777777;}
#archives-link{clear:both;text-align:center;font-family:Montserrat,Arial,sans-serif;text-transform:uppercase;font-size:1.7em;font-weight:bold;padding:40px 0;}#archives-link a{color:#444444;}#archives-link a:hover{color:#1a1a1a;}
