@darkerGrey: #1a1a1a;
@darkGrey: #222;
@mediumGrey: #aaa;
@mastheadHeight: 600px;
@mastheadTopSpace: 50px;
@red: #a00;

* {
    padding: 0;
    margin: 0;
}

img {
    border: 0;
}

.sans-serif {
    font-family: Raleway, Arial, sans-serif;
}

.serif {
    font-family: Lora, Georgia, serif;
}

body {
    font-size: 17px;
    .serif;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

#header {
    height: 100px;
    padding: 0 30px;
    background: @darkerGrey;
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 2;
}

#logo {
    width: 270px;
    padding: 20px 0;
}

#menu {
    .sans-serif;
    float: right;
    list-style-type: none;
    padding-top: 40px;

    li {
        float: left;
        padding: 0 10px;

        a {
            text-decoration: none;
            color: #ccc;
            text-transform: uppercase;
            font-weight: bold;
            //text-shadow: 1px 2px #fff;

            &:hover {
                color: #fff;
            }
        }
    }

    li:first-child {
        padding-left: 0;
    }

    li:last-child {
        padding-right: 0;
    }
}

.headline {
    .sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#masthead {
    position: relative;
    height: @mastheadHeight;
    overflow: hidden;

    a:hover img {
        opacity: 1.0;
    }

    .photo {
        position: absolute;
        width: 100%;
    }

    .photo img {
        margin-top: -120px;
        width: 100%;
        opacity: 0.85;
    }

    .title-wrapper {
        position: absolute;
        top: 250px;
        width: 100%;
    }

    .title {
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 20px 0;
        width: 100%;
        text-align: center;

        h1 {
            .sans-serif;
            text-transform: uppercase;
            font-size: 3.0em;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
        }

        .byline {
            font-style: italic;
            font-size: 1.2em;
        }
    }

    .block-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .block {
        box-sizing: border-box;
        padding: 30px;
        height: 200px;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;

        .headline {
            font-size: 2.5em;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
        }

        .byline {
            .serif;
            font-style: italic;
            margin: 10px 0;
        }

        .description {
            font-size: 1.3em;
        }
    }
}

.row {
    clear: both;
}

.row + .row {
    .span4 {
        margin-top: 30px;
    }
}

.row .span4 {
    float: left;
    width: 33.333%;
    position: relative;

    &:hover {
        .info {
            //visibility: visible;
        }

        .photo img {
            opacity: 1.0;
        }

        .overlay {
            display: block !important;
        }
    }

    a {
        text-decoration: none;
    }

    .photo {
        position: relative;

        .overlay {
            display: none;
            .sans-serif;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 50%;
            margin-top: -47px;
            left: 0;
            width: 100%;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
            padding: 20px 0;

            .date {
                font-size: 1.5em;
                font-weight: bold;
            }

            .category {
                font-size: 1.2em;
            }
        }

        img {
            width: 100%;
            opacity: 0.85;
        }
    }

    .info {
        padding: 0 30px;
        color: @darkGrey;

        .headline {
            margin: 15px 0;
            font-size: 1.5em;
        }

        .byline {
            margin-bottom: 15px;
        }
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

#article {
    .wrapper;

    .description {
        font-size: 1.8em;
        text-align: center;
        font-style: italic;
        border-bottom: 1px double @mediumGrey;
        padding: 100px 0;
    }

    .content {
        padding: 100px 0;
        font-size: 1.6em;
        line-height: 1.5;

        p, ul {
            padding: 30px 0;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            img {
                width: 100%;
            }
        }

        ul {
            margin-left: 2.0em;
        }

        a {
            color: @darkGrey;

            &:hover {
                color: @red;
            }
        }

        .footnote {
            margin-top: 70px;
            font-size: 0.7em;

            ol {
                margin-top: 100px;

                li + li {
                    padding-top: 10px;
                }
            }
        }
    }
}

.drop-caps {
    p:first-child:first-letter {
        float: left;
        font-size: 5.0em;
        line-height: 0.7em;
        padding-top: 0.1em;
        padding-right: 0.1em;
        padding-left: 3px;
    }
}

#footer {
    .wrapper;
    clear: both;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}
