{% load i18n %}

<!doctype html>
<html>
<head>
    <title>ctlibre</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0,
                   maximum-scale=1.0" />
    <!--[if !IE]> -->
    <link href="//fonts.googleapis.com/css?family=Lora|Montserrat"
          rel="stylesheet" type="text/css" />
    <!-- <![endif]-->
    <link rel="stylesheet/less" type="text/css"
          href="{{ STATIC_URL }}css/ctlibre.less"
          media="only screen and (min-width: 800px)" />
    <link rel="stylesheet/less" type="text/css"
          href="{{ STATIC_URL }}css/mobile.less"
          media="only screen and (max-width: 800px)" >
    <script src="{{ STATIC_URL }}js/less.min.js"></script>
</head>
<body>
    <div id="header">
        <div id="logo">
            <a href="/">
                <img src="{{ STATIC_URL }}img/logo.png" alt="ctlibre" />
            </a>
        </div>
        <ul id="menu">
            <li><a href="/category/points/">
                {% trans "Points" %}
            </a></li>
            <li><a href="/category/derivatives/">
                {% trans "Derivatives" %}
            </a></li>
            <li><a href="/parlement-libre/">
                Parlement libre
            </a></li>
            <li><a href="/univercite-libre/">
                Univercité libre
            </a></li>
            <li><a href="/about/">
                {% trans "About" %}
            </a></li>
            <li>
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    {# "fr" is the new language code #}
                    <input type="hidden" name="language"
                           value="{% trans "fr" %}" />
                    <button id="change-language">{% trans "FR" %}</button>
                </form>
            </li>
        </ul>
    </div>
    <div id="masthead">
        {% block masthead %}
        <div class="photo">
            <img src="{% block masthead_image %}{% endblock %}" />
        </div>
        <div class="title-wrapper">
            <div class="title">
                <h1>{% block title %}{% endblock %}</h1>
                <p class="byline">{% block description %}{% endblock %}</p>
            </div>
        </div>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        <p>footer</p>
    </div>
</body>
</html>
