{% load i18n %}

<!doctype html>
<html>
<head>
    <title>
        {% if title %}
            {{ title }} ― Cité Libre
        {% else %}
            Cité Libre ― Free your city
        {% endif %}
    </title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0,
                   maximum-scale=1.0" />
    <!--[if !IE]> -->
    <link href="//fonts.googleapis.com/css?family=Lora|Montserrat"
          rel="stylesheet" type="text/css" />
    <!-- <![endif]-->
    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL }}css/ctlibre.css"
          media="only screen and (min-width: 1000px)" />
    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL }}css/mobile.css"
          media="only screen and (max-width: 1000px)" >
</head>
<body>
    <div id="header">
        <div id="logo">
            <a href="/">
                <img src="{{ STATIC_URL }}img/logo.png" alt="ctlibre" />
            </a>
        </div>
        <ul id="menu">
            <li><a href="/category/ongoing/">
                {% trans "Ongoing" %}
            </a></li>
            <li><a href="/category/journal/">
                {% trans "Journal" %}
            </a></li>
            <li><a href="/parlement-libre/">
                Parlement libre
            </a></li>
            <li><a href="/univercite-libre/">
                Univercité libre
            </a></li>
            <li><a href="/about/">
                {% trans "About" %}
            </a></li>
            <li>
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    {# "fr" is the new language code #}
                    <input type="hidden" name="language"
                           value="{% trans "fr" %}" />
                    <button id="change-language">{% trans "FR" %}</button>
                </form>
            </li>
        </ul>
    </div>
    <div id="masthead">
        {% block masthead %}
        <div class="photo">
            <img src="{% block masthead_image %}{% endblock %}" />
        </div>
        <div class="title-wrapper">
            <div class="title">
                <h1>
                    {% if title %}
                        {{ title }}
                    {% else %}
                        {% block title %}{% endblock %}
                    {% endif %}
                </h1>
                <p class="byline">{% block description %}{% endblock %}</p>
            </div>

            {% if graphic_source %}
            <p class="graphic-source">
                <a href="{{ graphic_source }}">
                    {% trans "Photo source" %}
                </a>
            </p>
            {% endif %}
        </div>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        <ul>
            <li><a href="https://github.com/dellsystem/ctlibre.com">
                {% trans "Source on Github" %}
            </a></li>
            <li><a href="/masthead/">{% trans "Masthead" %}</a></li>
            <li><a href="/legal/">{% trans "Legal" %}</a></li>
            <li><a href="/contact/">
                {% trans "Speak to Us / Join Us" %}
            </a></li>
            <li><a href="http://facebook.com/ctlibre">
                <img src="{{ STATIC_URL }}img/fb.png" alt="facebook" />
            </a></li>
            <li><a href="http://twitter.com/ctlibre">
                <img src="{{ STATIC_URL }}img/twitter.png" alt="twitter" />
            </a></li>
            <li><a href="mailto:ctlibre@ctlibre.com">
                <img src="{{ STATIC_URL }}img/email.png" alt="email" />
            </a></li>
        </ul>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45372428-1', 'ctlibre.com');
      ga('send', 'pageview');

    </script>
</body>
</html>
