{% extends "base.html" %}

{% load i18n %}

{% block masthead %}
<a href="{{ lead_story.get_absolute_url }}">
    <div class="photo">
        <img src="{{ lead_story.graphic.url_1500x1000 }}" />
    </div>
    <div class="block-wrapper">
        <div class="block">
            <p class="headline">{{ lead_story.title }}</h2>
            <p class="byline">{% trans "by" %} {{ lead_story.author }}</p>
            <p class="description">{{ lead_story.description }}</p>
        </div>
    </div>
</a>
{% endblock %}

{% block content %}
<div class="row">
    {% for article in main_stories %}
        {% include "article/display.html" %}
    {% endfor %}
</div>
{% endblock %}
