{% extends "base.html" %}

{% block masthead %}
<a href="{{ lead_story.get_absolute_url }}">
    <div class="photo">
        <img src="{{ lead_story.graphic.url_1500x1000 }}" />
    </div>
    <div class="block-wrapper">
        <div class="block">
            <p class="headline">{{ lead_story.title }}</h2>
            <p class="byline">by {{ lead_story.author }}</p>
            <p class="description">{{ lead_story.description }}</p>
        </div>
    </div>
</a>
{% endblock %}

{% block content %}
{% for article in main_stories %}
{% if forloop.counter0|divisibleby:"3" %}
<div class="row">
{% endif %}
    <div class="span4">
        <div class="photo">
            <a href="{{ article.get_absolute_url }}">
                <img src="{{ article.graphic.url_500x333 }}" />
                <div class="overlay">
                    <p class="date">
                        {{ article.created_on|date:"F j" }}
                    </p>
                    <p class="category">[{{ article.category }}]</p>
                </div>
            </a>
        </div>
        <div class="info">
            <p class="headline">{{ article.title }}</p>
            <p class="byline">by {{ article.author }}</p>
            <p>{{ article.description }}</p>
        </div>
    </div>
{% if forloop.counter|divisibleby:"3" %}
</div>
{% endif %}
{% endfor %}
{% endblock %}
