{% extends "base.html" %}

{% load markup %}

{% block masthead_image %}{{ page.graphic.url }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block content %}
{% if page.content %}
<div id="article">
    <div class="content">
        {% if page.custom_template %}
            {% with "pages/"|add:page.slug|add:".html" as template_file %}
                {% include template_file %}
            {% endwith %}
        {% endif %}

        {{ page.content|markdown:"footnotes" }}
    </div>
</div>
{% endif %}
{% endblock %}
