{% load i18n %}

<div class="span4">
    <a href="{{ article.get_absolute_url }}">
        <div class="photo">
                <img src="{{ article.graphic.url_500x333 }}" />
                <div class="overlay">
                    <p class="date">
                        {{ article.created_on|date:"F j" }}
                    </p>
                    <p class="category">[{{ article.category }}]</p>
                </div>
        </div>
        <div class="info">
            <p class="headline">{{ article.title }}</p>
            <p class="byline">{% trans "by" %} {{ article.author }}</p>
            <p>{{ article.description }}</p>
        </div>
    </a>
</div>
